In [5]:
#import the packages that needed
import pandas as pd
import numpy as np
import re
from textblob import TextBlob
import warnings
warnings.filterwarnings('ignore')

In [6]:
# rawData = pd.read_csv("...")

def checkSpelling(rawData, column):
    
    distinctStreetNames = rawData[column].unique()
    rawData['misspeltStreets'] = rawData[column].apply(lambda x: ''.join(TextBlob(str(x)).correct()))
    misspeltStreets = rawData['misspeltStreets'].unique()
    diff = distinctStreetNames == misspeltStreets
    count = 0
    for i in diff:
        if i == False:
            count += 1
    
    return distinctStreetNames, count

In [7]:
df = pd.read_csv("census_1910_mn_small.csv")
df.columns

Index(['Unnamed: 0', 'Record type', 'Standardized township (string)',
       'County 2', 'Enumeration district 2',
       'Consistent historical data person identifier',
       'Dwelling sequence number', 'Dwelling serial number',
       'Dwelling serial number 2', 'Household sequence within dwelling',
       'Household sequence within dwelling, 8 digit',
       'Household serial number 2',
       'Household serial number, before large group quarters were split up (100% datasets)',
       'Individual sequence number',
       'Large group quarters that was split up (100% datasets)', 'Line number',
       'Line number 2', 'Microfilm page number',
       'Number of families in household',
       'Number of person records in household, before large group quarters were split up  (100% datasets)',
       'House number', 'Street address 2'],
      dtype='object')

In [8]:
a = checkSpelling(df, 'Street address 2')

In [10]:
a[0]

array(['WEST 2ND', 'EAST 8TH STREET', 'ATTORNEY STREET', 'EAST 95 ST',
       'WEST 60TH STREET', 'MULBERRY STREET', 'EAST 122D STREET',
       'BOWERY', 'WEST 109 STREET', 'WEST 144TH STREET',
       'BLACKWELLS ISLAND', '82ND STREET', 'WEST 97 STREET', nan,
       'ONE HUNDRED AND SEVEN STREET', 'EAST NINTH ST', 'SUFFOLK ST',
       'EAST SEVENTY FOURTH STREET', 'WORTH MORRS STREET',
       'WEST 100TH STREET', 'E 111 ST', 'W BROADWAY', 'WEST 148TH STREET',
       'WEST SIDE OF AMSTERDAM AVENUE', '123 ST', 'WEST 8TH STREET',
       'SECOND AVE', '1ST AVENUE', 'E 9TH ST',
       'TOOT WEST 11TH STAT STEWER EEL V', 'NINTH AVENUE',
       'ELDREDGE STREET', 'NINETY SIX STREET EAST', 'MADISON STREET',
       'WORDEN AVE', 'COLUMBIA STREET', 'EAST 78TH STREET', 'EAST 17',
       'E93 ST', 'BAXTER ST', 'THOMPSON STREET', '29TH STREET',
       'EAST 67TH STREET', 'W146 ST', '7TH STREET', 'EAST 114 STREET',
       'EAST 5TH ST', '68 STREET BETWEEN LEXINGTON & TH',
       'WEST 135 STREET', 'LEXINGTON AVENUE', 'EAST 118TH STREET',
       'EAST 100 STREET', 'EAST 88 ST', 'MANHATTAN AVE', 'CORTLANDT ST',
       'ELDRIDGE', 'WEST 131TH STREET(SO SIDE)', 'W 138 ST',
       'WEST 136 ST', 'LEWIS ST', 'AVENUE M', '93RD ST WEST',
       'MACDOUGAL STREET', 'W 45TH ST', 'LUDLOW STREET',
       'EAST 127 STREET', 'EAST ONE HUNDRED TWENTY FIRST ST', 'W123',
       'EAST 84TH STREET', '10 AVE', 'BLEEKER STREET', 'NINTH STREET',
       'EAST 32D ST', 'WEST 23 STREET', 'EAST FIFTEENTH STREET',
       'WEST 39 ST', 'RIVERSIDE DRIVE', '63ND ST', 'MOTT STREET',
       'EAST 81ST STREET', '34TH STREET', 'FIRST AVENUE',
       'RIVINGTON STREET', 'WEST 151 ST', '45TH STREET',
       'WEST 112 STREET', 'WEST 21ST ST', '211-13 AVE A', 'WEST 43RD ST',
       '10TH AVE', 'WEST 73D STREET'], dtype=object)

In [11]:
a[1]

28