In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
r_clean = pd.read_csv('census_1910_mn_small_clean_R.csv')

python_clean = pd.read_csv('census_1910_mn_small_clean_Python.csv')

In [3]:
r_clean.new_column_R

0                  38
1            EAST 107
2                  81
3            EAST 117
4             WEST 62
            ...
1995         WEST 158
1996             E 78
1997            8 AVE
1998    LEXINGTON AVE
1999         E 609 14
Name: new_column_R, Length: 2000, dtype: object

In [4]:
python_clean.new

0                  38
1            EAST 107
2                  81
3            EAST 117
4             WEST 62
            ...
1995         WEST 158
1996             E 78
1997            8 AVE
1998    LEXINGTON AVE
1999         E 609 14
Name: new, Length: 2000, dtype: object

In [5]:
r_clean.new_column_R == python_clean.new

0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Length: 2000, dtype: bool

In [6]:

i = r_clean.new_column_R == python_clean.new
i

0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Length: 2000, dtype: bool

In [7]:
i.sum()

1811

In [8]:
identical_rate = 1811 / 2000

In [9]:
identical_rate

0.9055