In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
bk_1880 = pd.read_csv('census_1880_h_bk.csv')

In [4]:
bk_1880_small = bk_1880.iloc[0:2000,:]

In [9]:
bk_1880_small

,rectype,year,serial,dwsize,city,pageno,microseq,nfams,splithid,splitnum,mcd,county,enumdist,supdist,street
0,H,1880,5999098,5,"Brooklyn, NY",1,2,2 families,5818377,5,80630,470,1,2,11 CRANBERRY ST
1,H,1880,5999099,10,"Brooklyn, NY",1,2,1 family or N/A,5818378,5,80630,470,1,2,13 CRANBERRY ST
2,H,1880,5999100,10,"Brooklyn, NY",1,2,4,5818379,5,80630,470,1,2,13 CRANBERRY ST
3,H,1880,5999101,10,"Brooklyn, NY",1,2,7,5818380,10,80630,470,1,2,15 CRANBERRY ST
4,H,1880,5999102,11,"Brooklyn, NY",1,2,5,5818381,8,80630,470,1,2,17 CRANBERRY ST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,H,1880,6001093,9999,"Brooklyn, NY",110,2,1 family or N/A,5820212,104,80630,470,6,2,177 HICKS ST
1996,H,1880,6001094,9999,"Brooklyn, NY",110,2,1 family or N/A,5820212,104,80630,470,6,2,177 HICKS ST
1997,H,1880,6001095,9999,"Brooklyn, NY",110,2,1 family or N/A,5820212,104,80630,470,6,2,177 HICKS ST
1998,H,1880,6001096,9999,"Brooklyn, NY",110,2,1 family or N/A,5820212,104,80630,470,6,2,177 HICKS ST
1999,H,1880,6001097,9999,"Brooklyn, NY",110,2,1 family or N/A,5820212,104,80630,470,6,2,177 HICKS ST