In [1]:
#import the packages that needed
import pandas as pd
import numpy as np
import regex as re
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('census_1910_mn_small.csv')

In [3]:
df.columns

Index(['Record type', 'Standardized township (string)', 'County 2',
       'Enumeration district 2',
       'Consistent historical data person identifier',
       'Dwelling sequence number', 'Dwelling serial number',
       'Dwelling serial number 2', 'Household sequence within dwelling',
       'Household sequence within dwelling, 8 digit',
       'Household serial number 2',
       'Household serial number, before large group quarters were split up (100% datasets)',
       'Individual sequence number',
       'Large group quarters that was split up (100% datasets)', 'Line number',
       'Line number 2', 'Microfilm page number',
       'Number of families in household',
       'Number of person records in household, before large group quarters were split up  (100% datasets)',
       'House number', 'Street address 2'],
      dtype='object')

#### Street_direction

In [4]:
# def street_direction(x):
#     pattern = re.compile(r'\sN\s|\sNORTH\s|^NORTH\s')
#     x = re.sub(pattern, " N ", x)
#     pattern = re.compile(r'\sS\s|\sSOUTH\s|^SOUTH\s')
#     x = re.sub(pattern, " S ", x)
#     pattern = re.compile(r'\sE\s|\sEAST\s|^EAST\s')
#     x = re.sub(pattern, " E ", x)
#     pattern = re.compile(r'\sW\s|\sWEST\s|^WEST\s')
#     x = re.sub(pattern, " W ", x)

#     return x

In [5]:
def street_direction(x):
    # The orientations in the addresses
    pattern = re.compile(r'\sN\s|\sNORTH\s')
    x = re.sub(pattern, " N ", x)
    pattern = re.compile(r'^NORTH\s')
    x = re.sub(pattern, "N ", x)
    pattern = re.compile(r'\sS\s|\sSOUTH\s')
    x = re.sub(pattern, " S ", x)
    pattern = re.compile(r'^SOUTH\s')
    x = re.sub(pattern, "S ", x)
    pattern = re.compile(r'\sE\s|\sEAST\s')
    x = re.sub(pattern, " E ", x)
    pattern = re.compile(r'^EAST\s')
    x = re.sub(pattern, "E ", x)
    pattern = re.compile(r'\sW\s|\sWEST\s')
    x = re.sub(pattern, " W ", x)
    pattern = re.compile(r'^WEST\s')
    x = re.sub(pattern, "W ", x)

    return x

df['Street address 2'] = df['Street address 2'].apply(lambda x : street_direction(x))

In [6]:
pattern_street_direction = r'\s[N|W|S|E]\s|^[N|W|S|E]\s'

df['street_direction_clean'] = df['Street address 2'].apply(lambda x: ' '.join(re.findall(pattern_street_direction, x)))

In [7]:
print(df['street_direction_clean'])
print(df['street_direction_clean'].unique())

0
1        E
2
3        E
4        W
       ...
1995     W
1996     E
1997
1998
1999     E
Name: street_direction_clean, Length: 2000, dtype: object
['' 'E ' 'W ' ' W ' 'S ' ' E ' 'S   W ' 'W   N ' 'E   E ' ' E   E ']

#### Street type clean

In [8]:
def street_type(x):
    pattern = re.compile(r'\sSTREET|\sSTR|\sSTE$|\sSRT$|\sSR$|\sSST$|\sSEET$|\sTREET$|\sSHEER$|\sSHEE$|\sSTREE$|\sSREET$|\sREET$|\sSTEE$|\sST$')
    x = re.sub(pattern, " ST", x)
    pattern = re.compile(r'\sDRIVE$|\sDRV$|\sDRI$|\sDRIV$|\sDRIE$|\sD.$')
    x = re.sub(pattern, " DR", x)
    pattern = re.compile(r'\sCIRCLE$|\sCIRCL$|\sCICLE$|\sCIRC$|\sCIR$|\sCRL$|\sC.$')
    x = re.sub(pattern, " CIR", x)
    pattern = re.compile(r'(?<=\s)AVENUE$|^AVENUE\s|\sAVENU$|\sAVEN$|\sAVE$|\sAVN$\sAV$')
    x = re.sub(pattern, " AVE", x)
    pattern = re.compile(r"\sCOURT$|\sCT$|\sCRT$|\sCTR$|\sCOUR$|<=\sCOT$|\sCORT$")
    x = re.sub(pattern, " CT", x)
    pattern = re.compile(r"\sBOULEVARD$|\sBVLD|\sBL.$|\sB.$")
    x = re.sub(pattern, " BLVD", x)
    pattern = re.compile(r"\sROAD$|\sRD$|\sRAD$|\sROD$")
    x = re.sub(pattern, " RD", x)
    pattern = re.compile(r"\sALLEY$|\sALY$|\sALEY$|\sALL.$|\sA.$")
    x = re.sub(pattern, " ALY", x)
    pattern = re.compile(r"\sPLACE$|\sPL.$|\sP.$|\sPLAC$|\sPLCE$|\sPCE$")
    x = re.sub(pattern, " PL", x)
    pattern = re.compile(r"\sPK$|\sPRK$|\sPRAK$|\sPAK$")
    x = re.sub(pattern, " PARK", x)
    pattern = re.compile(r"\sPARKWAY$|\sPKWY$|\sPARKW$|\sPWY$|\sPKW$|\sPRKWY$|\sPKW$")
    x = re.sub(pattern, " PKWY", x)
    pattern = re.compile(r"\sAPPROA$|\sAPRCH$|\sAPPRCH$|\sAPPR$|\sAPR$")
    x = re.sub(pattern, " APPROACH", x)
    pattern = re.compile(r"\sTERRACE$|\sTERR$|\sTER$|\sTRCE$|\sTRC$|\sTR$")
    x = re.sub(pattern, " TER", x)
    pattern = re.compile(r"\sPLAZA$|\sPLZA$|\sPLZ$|\sPLAZ$|\sPZ$")
    x = re.sub(pattern, " PLZ", x)
    pattern = re.compile(r"\sLANE$|\sLNE$|\sLN$|\sLAN$")
    x = re.sub(pattern, " LN", x)
    pattern = re.compile(r"\sBRIDGE$|\sBRGD$|\sBRG$|\sBGE$")
    x = re.sub(pattern, " BRG",x)
    pattern = re.compile(r"\sHILL$|\sHLL$|\sHL$|\sHIL$")
    x = re.sub(pattern, " HL", x)
    pattern = re.compile(r"\sHEIGHTS$|\sHTS$|\sHT$|\sHEGHTS$|\sHEIGHT$|\sHHT$|\sHEIGT$") 
    x = re.sub(pattern, " HTS", x)
    pattern = re.compile(r"\sSLP$|\sSLEP$|\sSLIIP$|\sSLI$")
    x = re.sub(pattern, " SLIP", x)
    pattern = re.compile(r"\sROOW$|\sRO.$|\sRW$")
    x = re.sub(pattern, " ROW", x)
    pattern = re.compile(r"\sSQUARE$") 
    x = re.sub(pattern, " SQ", x)

    return x
    
df['Street address 2'] = df['Street address 2'].apply(lambda x : street_type(x))

In [10]:
pattern_street_type = r'(?<=\s)ST$|(?<=\s)DR$|(?<=\s)CIR$|(?<=\s)AVE$|(?<=\s)CT$|(?<=\s)BLVD$|(?<=\s)ALY$|(?<=\s)PLZ$|(?<=\s)PARK$|(?<=\s)PKWY$|(?<=\s)APPROACH$|(?<=\s)TER$|(?<=\s)PL$|(?<=\s)LN$|(?<=\s)BRG$|(?<=\s)HL$|(?<=\s)HTS$|(?<=\s)SLIP$|(?<=\s)ROW$|(?<=\s)SQ$'
        

df['street_type_clean'] = df['Street address 2'].apply(lambda x: ' '.join(re.findall(pattern_street_type, x)))

In [11]:
print(df['street_type_clean'])
print(df['street_type_clean'].unique())

0        ST
1        ST
2        ST
3        ST
4        ST
       ...
1995     ST
1996     ST
1997    AVE
1998    AVE
1999     ST
Name: street_type_clean, Length: 2000, dtype: object
['ST' '' 'AVE' 'PL' 'CIR' 'ALY' 'PARK' 'SQ' 'LN' 'DR' 'TER']

#### Street name clean

In [12]:
def street_name(x):
    pattern = re.compile(r'\sALLANTIC\s|\sATLASTA\s')
    x = re.sub(pattern, "ATLANTIC", x)
    pattern = re.compile(r'\sALLEM\s')
    x = re.sub(pattern, "ALLEN", x)    

    pattern = re.compile(r'\sCROTON\s|\sGROTON\s')
    x = re.sub(pattern, "AUDUBON", x)    
    pattern = re.compile(r'\s(AT RINS)\s')
    x = re.sub(pattern, "ATKINS", x)     

    pattern = re.compile(r'\sBATTIE\s')
    x = re.sub(pattern, "BALTIC", x)      
    pattern = re.compile(r'\sBARREE\s')
    x = re.sub(pattern, "BARROW", x)   
    pattern = re.compile(r'\sBESSHLEY\s')
    x = re.sub(pattern, "BURLING", x)       
    pattern = re.compile(r'\sBIRY\s|\s(B WAY)\s|\sBWAY\s|\sBRAKSWAY\s')
    x = re.sub(pattern, "BROADWAY", x)         
    pattern = re.compile(r'\sBUSTWICK\s')
    x = re.sub(pattern, "BUSHWICK", x) 
    pattern = re.compile(r'\sBUTTER\s')
    x = re.sub(pattern, "BUTLER", x) 
    pattern = re.compile(r'\sBREEVORT\s')
    x = re.sub(pattern, "BREVOORT", x) 
    pattern = re.compile(r'\sBRENNEL\s|\sBROOMES\s|\sBROOM\s|\sBRANNAS\s|\sBROWN\s')
    x = re.sub(pattern, "BROOME", x) 
    pattern = re.compile(r'\sBLACKER\s|\sBLENKER\s')
    x = re.sub(pattern, "BLEECKER", x) 

    pattern = re.compile(r'\sCLAIR\s')
    x = re.sub(pattern, "CLASSON", x) 
    pattern = re.compile(r'\sCLISTEN\s')
    x = re.sub(pattern, "CLINTON", x)     
    pattern = re.compile(r'\sCHERY\s')
    x = re.sub(pattern, "CHERRY", x) 
    pattern = re.compile(r'\sCHRYSTEE\s|\sCHRYSTAL\s|\sCHTYSTIE\s|\sCHRYSTEL\s')
    x = re.sub(pattern, "CHRYSTIE", x)     
    pattern = re.compile(r'\sCARRAL\s|\sCOYAL\s')
    x = re.sub(pattern, "CANAL", x)    
    pattern = re.compile(r'\sCOLUMBIN\s')
    x = re.sub(pattern, "COLUMBIA", x) 
    pattern = re.compile(r'\sCAMNON\s')
    x = re.sub(pattern, "CANNON", x) 
    pattern = re.compile(r'\sCROWH\s')
    x = re.sub(pattern, "CROWN", x) 

    pattern = re.compile(r'\sDEVAL\s')
    x = re.sub(pattern, "DEVOE", x)
    pattern = re.compile(r'\sDEBOUCHEL\s')
    x = re.sub(pattern, "DEBEVOISE",x)
    pattern = re.compile(r'\sDAFONT\s')
    x = re.sub(pattern, "DUPONT", x)
    pattern = re.compile(r'\sDEGRAN\s')
    x = re.sub(pattern, "DEGRAW", x)
    pattern = re.compile(r'\sDENBO\s|\sDEKALB\s')
    x = re.sub(pattern, "DE KALB", x)
    pattern = re.compile(r'\sDELAMERE\s|\sDALANEY\s|\sDELANEY\s|\sDELANCY\s')
    x = re.sub(pattern, "DELANCEY", x) 

    pattern = re.compile(r'\sELTHZROTH\s|\sELLSWICK\s')
    x = re.sub(pattern, "ELLIOTT", x)
    pattern = re.compile(r'\sELDREDGE\s|\sCLARIDGE\s')
    x = re.sub(pattern, "ELDRIDGE", x) 
    pattern = re.compile(r'\sESSEY\s')
    x = re.sub(pattern, "ESSEX", x) 

    pattern = re.compile(r'\sFORSYTHE\s')
    x = re.sub(pattern, "FORSYTH", x) 
    pattern = re.compile(r'\sFLATHISH\s')
    x = re.sub(pattern, "FLATBUSH", x)

    pattern = re.compile(r'\sGLANCE\s')
    x = re.sub(pattern, "GRAND", x) 
    pattern = re.compile(r'\sGOAST\s')
    x = re.sub(pattern, "GOERCK", x)
    pattern = re.compile(r'\sGREENS\s')
    x = re.sub(pattern, "GREENE", x)
    pattern = re.compile(r'\sGREENRICH\s|\sGAMWICH\s')
    x = re.sub(pattern, "GREENWICH", x) 

    pattern = re.compile(r'\sHOUTON\s')
    x = re.sub(pattern,  "HOUSTON", x) 
    pattern = re.compile(r'\sHAVES\s')
    x = re.sub(pattern, "HEWES", x) 
    pattern = re.compile(r'\sHAKEY\s')
    x = re.sub(pattern, "HALSEY", x)
    pattern = re.compile(r'\sHEWEY\s')
    x = re.sub(pattern, "HENRY", x)
    pattern = re.compile(r'\sHICK\s')
    x = re.sub(pattern, "HICKS", x)
    pattern = re.compile(r'\sHUMBOLOT\s|\sHUMBARD\s|\sHUMBOLT\s')
    x = re.sub(pattern, "HUMBOLDT", x) 

    pattern = re.compile(r'\sJOHOM\s')
    x = re.sub(pattern, "JOHNS", x) 

    pattern = re.compile(r'\sKIOP\s|\sHEAP\s')
    x = re.sub(pattern, "KEAP", x) 

    pattern = re.compile(r'\s(LAY FAY ESTE)\s|\sLADORATT\s|\sLAFYAYETTE\s')
    x = re.sub(pattern, "LAFAYETTE", x)
    pattern = re.compile(r'\sLIRA\s|\sLOUMOR\s|\sLARMER\s')
    x = re.sub(pattern, "LORIMER", x)
    pattern = re.compile(r'\sLAAVIUK\s')
    x = re.sub(pattern, "LAWRENCE", x) 
    pattern = re.compile(r'\sLAIDLOW\s')
    x = re.sub(pattern, "LUDLOW", x) 
    pattern = re.compile(r'\sTEX|LEX\s') # perl = True
    x = re.sub(pattern, "LEXINGTON", x)   
    pattern = re.compile(r'\sREPPERTS\s')
    x = re.sub(pattern, "LEFFERTS", x)

    pattern = re.compile(r'\sPARLE\s|\sMALLE\s|\sMYETTE\s')
    x = re.sub(pattern, "MYRTLE", x)
    pattern = re.compile(r'\s(MC DOUGALL)\s|\s(MC DOUGAL)\s|\sMCDOUGALL\s')
    x = re.sub(pattern, "MCDOUGAL", x)
    pattern = re.compile(r'\s(MC DONOUGH)\s')
    x = re.sub(pattern, "MCDONOUGH", x)
    pattern = re.compile(r'\sMANZA\s|\sMAREY\s')
    x = re.sub(pattern, "MARCY", x)
    pattern = re.compile(r'\sMESCOLE\s')
    x = re.sub(pattern, "MESEROLE", x)
    pattern = re.compile(r'\sMEASE\s')
    x = re.sub(pattern, "MOORE", x)
    pattern = re.compile(r'\sMEDDLER\s')
    x = re.sub(pattern, "MIDDLETON", x)
    pattern = re.compile(r'\sMANGEN\s')
    x = re.sub(pattern, "MANGIN", x)
    pattern = re.compile(r'\sHAULL\s|\sMALLERY\s')
    x = re.sub(pattern, "MULBERRY", x)

    pattern = re.compile(r'\sNAPOLK\s')
    x = re.sub(pattern, "NORFOLK", x)
    pattern = re.compile(r'\s(VAST AND)\s')
    x = re.sub(pattern, "NOSTRAND", x)

    pattern = re.compile(r'\sDAK\s')
    x = re.sub(pattern, "OAK", x)
    pattern = re.compile(r'\sOLWEN\s')
    x = re.sub(pattern, "OLIVER", x)
    pattern = re.compile(r'\sGERHARD\s')
    x = re.sub(pattern, "ORCHARD", x)

    pattern = re.compile(r'\sPUTT\s')
    x = re.sub(pattern, "PITT", x)
    pattern = re.compile(r'\sPERROTT\s|\s(PERROTT PREMPONT)\s')
    x = re.sub(pattern, "PIERREPONT", x)
    pattern = re.compile(r'\sPLAD\s')
    x = re.sub(pattern, "PLACE", x)
    pattern = re.compile(r'\sPRUFER\s')
    x = re.sub(pattern, "PROSPECT", x)
    pattern = re.compile(r'\sPREDIDUNT\s')
    x = re.sub(pattern, "PRESIDENT", x)
    pattern = re.compile(r'\sPALOKA\s')
    x = re.sub(pattern, "PULASKI", x)

    pattern = re.compile(r'\sRUTHIE\s')
    x = re.sub(pattern, "RUTLEDGE", x)
    pattern = re.compile(r'\sRIDAL\s')
    x = re.sub(pattern, "RIDGE", x)
    pattern = re.compile(r'\sRAYSON\s')
    x = re.sub(pattern, "RYERSON", x)
    pattern = re.compile(r'\sREVENTON\s')
    x = re.sub(pattern, "RIVINGTON", x)
    pattern = re.compile(r'\sRUALMAINE\s|\s(RICER SIDE)\s')
    x = re.sub(pattern, "RIVERSIDE", x)
    pattern = re.compile(r'\sREDERICK\s|\sRENNICK\s')
    x = re.sub(pattern, "RENWICK", x)

    pattern = re.compile(r'\sSELLTOWN\s')
    x = re.sub(pattern, "SULLIVAN", x)
    pattern = re.compile(r'\sSISH\s')
    x = re.sub(pattern, "SIDE", x)
    pattern = re.compile(r'\sSTUCKER\s')
    x = re.sub(pattern, "STEUBEN", x)
    pattern = re.compile(r'\sSTATES\s')
    x = re.sub(pattern, "STATE", x)
    pattern = re.compile(r'\sSCHAALS\s')
    x = re.sub(pattern, "SCHOLES", x)
    pattern = re.compile(r'\sSUMME\s')
    x = re.sub(pattern, "SUMMIT", x)
    pattern = re.compile(r'\sSCHOMERDOSA\s')
    x = re.sub(pattern, "SCHERMERHORN", x)
    pattern = re.compile(r'\sDOUTH\s|\sSONSE\s')
    x = re.sub(pattern, "SOUTH", x)
    pattern = re.compile(r'\sSTUYVESTANT\s')
    x = re.sub(pattern, "STUYVESANT", x)

    pattern = re.compile(r'\sSTONPSON\s')
    x = re.sub(pattern, "THOMPSON", x)
    pattern = re.compile(r'\sTRAY\s')
    x = re.sub(pattern, "TROY", x)
    pattern = re.compile(r'\sTAYLER\s')
    x = re.sub(pattern, "TAYLOR", x)

    pattern = re.compile(r'\sWMON\s')
    x = re.sub(pattern, "UNION", x)

    pattern = re.compile(r'\s(WAR CAREN)\s')
    x = re.sub(pattern, "VAN BUREN", x)
    pattern = re.compile(r'\sVEMON\s')
    x = re.sub(pattern, "VERNON", x)
    pattern = re.compile(r'\sVANDERLY\s|\sVANDERSLIDE\s')
    x = re.sub(pattern, "VANDERBILT", x)

    pattern = re.compile(r'\sWYONIA\s')
    x = re.sub(pattern, "WYONA", x)
    pattern = re.compile(r'\sWITKINS\s')
    x = re.sub(pattern, "WATKINS", x)
    pattern = re.compile(r'\sWALLWORTH\s')
    x = re.sub(pattern, "WALWORTH", x)
    pattern = re.compile(r'\sWHIPPER\s')
    x = re.sub(pattern, "WHIPPLE", x)
    pattern = re.compile(r'\sWALLABANK|\sWALKABOUT\s')
    x = re.sub(pattern, "WALLABOUT", x)
    pattern = re.compile(r'\sWASH\s|\sWASTEWATER\s')
    x = re.sub(pattern, "WASHINGTON", x) 

    return x

df['Street address 2'] = df['Street address 2'].apply(lambda x : street_name(x))

In [13]:
pattern_street_name_clean = r'ATLANTIC|ALLEN|AUDUBON|ATKINS|BALTIC|BARROW|BURLING|BROADWAY|BUSHWICK|BUTLER|BREVOORT|BROOME|BLEECKER \
|CLASSON|CLINTON|CHERRY|CHRYSTIE|CANAL|COLUMBIA|CANNON|CROWN|DEVOE|DEBEVOISE|DUPONT|DEGRAW|DE KALB|DELANCEY|ELLIOTT|ELDRIDGE|ESSEX \
|FORSYTH|FLATBUSH|GRAND|GOERCK|GREENE|GREENWICH|HOUSTON|HEWES|HALSEY|HENRY|HICKS|HUMBOLDT|JOHNS|KEAP|LAFAYETTE|LORIMER|LAWRENCE|LUDLOW \
|LEXINGTON|LEFFERTS|MYRTLE|MCDOUGAL|MCDONOUGH|MARCY|MESEROLE|MOORE|MIDDLETON|MANGIN|MULBERRY|NORFOLK|NOSTRAND|OAK|OLIVER|ORCHARD|PITT \
|PIERREPONT|PLACE|PROSPECT|PRESIDENT|PULASKI|RUTLEDGE|RIDGE|RYERSON|RIVINGTON|RIVERSIDE|RENWICK|SULLIVAN|SIDE|STEUBEN|STATE|SCHOLES \
|SUMMIT|SCHERMERHORN|SOUTH|STUYVESANT|THOMPSON|TROY|TAYLOR|UNION|VAN BUREN|VERNON|VANDERBILT|WYONA|WATKINS|WALWORTH|WHIPPLE|WALLABOUT|WASHINGTON'

def search_street_name(x):
    result = re.findall(pattern_street_name_clean, x)
    return " ".join(result)

df['street_name_clean'] = df['Street address 2'].apply(lambda x : search_street_name(x))

In [14]:
print(df['street_name_clean'])
print(df['street_name_clean'].unique())

0
1
2
3
4
          ...
1995
1996
1997
1998    LEXINGTON
1999
Name: street_name_clean, Length: 2000, dtype: object
['' 'CHERRY' 'HOUSTON' 'AUDUBON' 'MULBERRY' 'RIDGE' 'GREENWICH' 'CLINTON'
 'DELANCEY' 'LEXINGTON' 'THOMPSON' 'FORSYTH' 'BROADWAY' 'OAK' 'WASHINGTON'
 'HENRY' 'GRAND' 'BROOME' 'NORFOLK' 'SIDE' 'SIDE BROADWAY' 'CHRYSTIE'
 'ALLEN' 'CANNON' 'GOERCK' 'SULLIVAN' 'LEXINGTON SIDE' 'PLACE'
 'STUYVESANT' 'CANAL' 'RIVINGTON' 'ORCHARD' 'MANGIN' 'ELDRIDGE' 'OLIVER'
 'MCDOUGAL' 'LAFAYETTE' 'LAWRENCE' 'RIVERSIDE']

#### Street number_name clean

In [15]:
pattern_street_number_name_raw = r'FRIST|FRST|FIRST|ONE|ONE HUNDRED|ONEHUNDRED|HUNDRED|HUDRED|HUNDED| \
TWO HUNDRED|TWOHUNDRED|TWENTY|TWENTI|TENTI|SECOND|SECORD|SCOND|TWO| \
THIRTY|THIRTHY|THIRTEY|TIRTY|TRITHY|THRID|THIRD|TIRD|TRIH|THREE| \
FORTIETH|FOURTIETH|FORTEENTH|FOURTHENTH|FORTY|FORTH|FOURTHY|FOURT|FRTY|FROTH|FROUTH|FOUR| \
FIFTIETH|FIFTEENTH|FIFTY|FIFTHE|FIFTHY|FIFTH|FIFTEY|FIFT|FITY|FIFETH|FIFFTH|FIVE| \
SIXTIETH|SIXTEENTH|SIXTY|SXTY|SIXY|SIXTHY|SIXTEY|SIXTH|SXTH|SITH|SIHXT|SIX| \
SEVENTIETH|SEVENTY|SEVENTEENTH|SEVENTY|SEVENTEY|SVENTY|SEVENTI|SEVENTH|SVEN|SVENTH|SEVENH|SEVENT|SEVEN| \
EIGHTIETH|EIGHTETH|EIGHTEENTH|EIGHTY|EIGHTEH|EIGHTEY|EIGHTE|EIGHTH|EITH|EIGHT|EIGHTTH|EIGTH|FIGHT| \
UNITY|NINETIETH|NINTIETH|NINETEENTH|NINETY|NINETEY|NINETIETH|NINTH|NINTY| \
TENTH|ELEVENTH|TWELFTH|THIRTEENTH|TWENTIETH|TWENTIEFTH|THIRTIETH|THIRTIEFTH'
    
def search_street_number_name(x):
    result = re.findall(pattern_street_number_name_raw, x)
    return " ".join(result)

df['street_number_name_raw'] = df['Street address 2'].apply(lambda x : search_street_number_name(x))

In [16]:
print(df['street_number_name_raw'])
print(df['street_number_name_raw'].unique())

0
1
2
3
4
       ..
1995
1996
1997
1998
1999
Name: street_number_name_raw, Length: 2000, dtype: object
['' 'FIFTH' 'SIXTY FIFTH' 'NINTY FIRST' 'THIRD' 'SIXTY SECOND' 'NINTH'
 'SECOND' 'EIGHTH' 'SEVENTH' 'FIFTY FOURT' 'SIXTH' 'FIFTY FIFTH' 'SIX'
 'FIRST' 'ONE' 'TWENTY EIGHT' 'ONE HUNDRED SEVEN' 'FOURT'
 'ONE TWENTY NINTH' 'FOURT NINTH' 'THIRTEENTH' 'TWENTY THIRD'
 'FIFTY THIRD' 'SIXTY THIRD' 'NINETY THIRD' 'SEVENTY THIRD'
 'TWENTY EIGHTH' 'ONE HUNDRED SEVENTEENTH' 'ONE HUNDRED' 'EIGHTY EIGHTH'
 'EIGHT' 'TWELFTH' 'EIGHTY NINTH' 'NINTY NINTH' 'FIFTY SECOND' 'SEVENTI'
 'FORTY FIRST' 'ONE HUNDRED FOURT' 'EIGTH' 'NINTY SIXTH'
 'ONE HUNDRED FIFTH' 'FIFTY SEVENTH' 'ELEVENTH' 'FIFTY FIRST'
 'ONE HUNDRED TWENTY FIFT' 'SEVENTY FOURT' 'FOURT FIFTH' 'SEVENTEENTH'
 'TWENTY SIXTH' 'ONE HUNDRED TWENTI' 'NINETY SIXTH' 'ONE HUNDRED EIGHT'
 'EIGHTEENTH' 'FRIST' 'TWENTY FIFTH' 'SEVENTY' 'FIFTEENTH' 'FIFT'
 'FORTY NINTH' 'ONE HUNDRED SECOND' 'TWENTY FIRST' 'SEVENTY SECOND'
 'SEVENTY SEVENTH' 'FORTY SEVENTH' 'TWENTY FOURT' 'ONE HUNDRED THIRD'
 'ONE HUNDRED SIXTH' 'SEVENTH FOURT' 'SEVEN FIFTH' 'FORTY SECOND'
 'ONE HUNDRED EIGHTEENTH' 'NINETY FOURT' 'SEVENTY FIFTH' 'EIGHTY FIFTH'
 'EIGHTY THIRD' 'TWENTY NINTH' 'EIGHTY SEVENTH' 'EIGHTY SECOND'
 'ONE HUNDRED TWENTY FIRST' 'SEVEN']

In [17]:
# # SOLUTION 1
# def street_number_name(x):
#     # dealing with numbered streets
# #     pattern = re.compile(r"(?<=[0-9])(ST|ND|RD|TH)")
# #     x = re.sub(pattern, "", x)
#     pattern = re.compile(r"(\d+)(ST|ND|RD|TH)\b")
#     x = re.sub(pattern, r"\1", x)
#     pattern = re.compile(r"ELEVENTH") 
#     x = re.sub(pattern, "11", x)
#     pattern = re.compile(r"TWELFTH") 
#     x = re.sub(pattern, "12", x)    
#     pattern = re.compile(r"THIRTEENTH") 
#     x = re.sub(pattern, "13", x)     
#     pattern = re.compile(r"FORTEENTH") 
#     x = re.sub(pattern, "14", x)    
#     pattern = re.compile(r"FIFTEENTH") 
#     x = re.sub(pattern, "15", x)
#     pattern = re.compile(r"SIXTEENTH") 
#     x = re.sub(pattern, "16", x)
#     pattern = re.compile(r"SEVENTEENTH") 
#     x = re.sub(pattern, "17", x)
#     pattern = re.compile(r"EIGHTEENTH") 
#     x = re.sub(pattern, "18", x)
#     pattern = re.compile(r"NINETEENTH") 
#     x = re.sub(pattern, "19", x)
#     pattern = re.compile(r"TWENTIETH|TWENTIEFTH") 
#     x = re.sub(pattern, "20", x)
#     pattern = re.compile(r"THIRTIETH|THIRTIEFTH") 
#     x = re.sub(pattern, "30", x)
#     pattern = re.compile(r"FORTIETH|FOURTIETH|FOURTHENTH") 
#     x = re.sub(pattern, "40", x)
#     pattern = re.compile(r"FIFTIETH") 
#     x = re.sub(pattern, "50", x)
#     pattern = re.compile(r"SIXTIETH") 
#     x = re.sub(pattern, "60", x)
#     pattern = re.compile(r"SEVENTIETH") 
#     x = re.sub(pattern, "70", x)    
#     pattern = re.compile(r"EIGHTIETH|EIGHTETH") 
#     x = re.sub(pattern, "80", x) 
#     pattern = re.compile(r"NINETIETH|NINTIETH") 
#     x = re.sub(pattern, "90", x) 
#     pattern = re.compile(r"FRIST|FRST|FIRST|ONE|ONE HUNDRED|ONEHUNDRED|HUNDRED|HUDRED|HUNDED") 
#     x = re.sub(pattern, "1", x) 
#     pattern = re.compile(r"TWO HUNDRED|TWOHUNDRED|TWENTY|TWENTI|TENTI|SECOND|SECORD|SCOND|TWO") 
#     x = re.sub(pattern, "2", x)
#     pattern = re.compile(r"THIRTY|THIRTHY|THIRTEY|TIRTY|TRITHY|THRID|THIRD|TIRD|TRIH|THREE") 
#     x = re.sub(pattern, "3", x)    
#     pattern = re.compile(r"FOURTHENTH|FORTY|FORTH|FOURTHY|FOURT|FRTY|FROTH|FROUTH|FOUR") 
#     x = re.sub(pattern, "4", x)
#     pattern = re.compile(r"FIFTY|FIFTHE|FIFTHY|FIFTH|FIFTEY|FIFT|FITY|FIFETH|FIFFTH|FIVE") 
#     x = re.sub(pattern, "5", x)
#     pattern = re.compile(r"SIXTY|SXTY|SIXY|SIXTHY|SIXTEY|SIXTH|SXTH|SITH|SIHXT|SIX") 
#     x = re.sub(pattern, "6", x)
#     pattern = re.compile(r"SEVENTEY|SVENTY|SEVENTI|SEVENTH|SVEN|SVENTH|SEVENH|SEVENTY|SEVENT|SEVEN") 
#     x = re.sub(pattern, "7", x) 
#     pattern = re.compile(r"EIGHTY|EIGHTEH|EIGHTEY|EIGHTE|EIGHTH|EITH|EIGHT|EIGHTTH|EIGTH|FIGHT") 
#     x = re.sub(pattern, "8", x)       
#     pattern = re.compile(r"UNITY|NINETY|NINETEY|NINETIETH|NINTH|NINTY") 
#     x = re.sub(pattern, "9", x) 
#     pattern = re.compile(r"TENTH") 
#     x = re.sub(pattern, "10", x)     
    
#     return x
    
# df['street_number_name_clean'] = np.where(df['street_number_name_raw'].apply(lambda x : street_number_name(x).replace(' ', '')), df['street_number_name_raw'].apply(lambda x : street_number_name(x).replace(' ', '')), df['street_number_name_clean'].str.extract('(\d+)'))    
# print(df['street_number_name_clean'].unique())

In [18]:
# SOLUTION 2:
def street_number_name(x):

    pattern = re.compile(r"(\d+)(ST|ND|RD|TH)")
    x = re.sub(pattern, r"\1", x)
    pattern = re.compile(r"\sELEVENTH\s") 
    x = re.sub(pattern, "11", x)
    pattern = re.compile(r"\sTWELFTH\s") 
    x = re.sub(pattern, "12", x)    
    pattern = re.compile(r"\sTHIRTEENTH\s") 
    x = re.sub(pattern, "13", x)     
    pattern = re.compile(r"\sFORTEENTH\s|\sFOURTHENTH\s") 
    x = re.sub(pattern, "14", x)    
    pattern = re.compile(r"\sFIFTEENTH\s") 
    x = re.sub(pattern, "15", x)
    pattern = re.compile(r"\sSIXTEENTH\s") 
    x = re.sub(pattern, "16", x)
    pattern = re.compile(r"\sSEVENTEENTH\s") 
    x = re.sub(pattern, "17", x)
    pattern = re.compile(r"\sEIGHTEENTH\s") 
    x = re.sub(pattern, "18", x)
    pattern = re.compile(r"\sNINETEENTH\s") 
    x = re.sub(pattern, "19", x)
    pattern = re.compile(r"\sTWENTIETH\s|\sTWENTIEFTH\s") 
    x = re.sub(pattern, "20", x)
    pattern = re.compile(r"\sTHIRTIETH\s|\sTHIRTIEFTH\s") 
    x = re.sub(pattern, "30", x)
    pattern = re.compile(r"\sFORTIETH\s|\sFOURTIETH\s|\sFOURTHENTH\s") 
    x = re.sub(pattern, "40", x)
    pattern = re.compile(r"\sFIFTIETH\s") 
    x = re.sub(pattern, "50", x)
    pattern = re.compile(r"\sSIXTIETH\s") 
    x = re.sub(pattern, "60", x)
    pattern = re.compile(r"\sSEVENTIETH\s") 
    x = re.sub(pattern, "70", x)    
    pattern = re.compile(r"\sEIGHTIETH\s|\sEIGHTETH\s") 
    x = re.sub(pattern, "80", x) 
    pattern = re.compile(r"\sNINETIETH\s|\sNINTIETH\s") 
    x = re.sub(pattern, "90", x) 
    pattern = re.compile(r"\sFRIST\s|\sFRST\s|\sFIRST\s|\sONE\s|\sONE HUNDRED\s|\sONEHUNDRED\s|\sHUNDRED\s|\sHUDRED\s|\sHUNDED\s") 
    x = re.sub(pattern, "1", x) 
    pattern = re.compile(r"\sTWO HUNDRED\s|\sTWOHUNDRED\s|\sTWENTY\s|\sTWENTI\s|\sTENTI\s|\sSECOND\s|\sSECORD\s|\sSCOND\s|\sTWO\s") 
    x = re.sub(pattern, "2", x)
    pattern = re.compile(r"\sTHIRTY\s|\sTHIRTHY\s|\sTHIRTEY\s|\sTIRTY\s|\sTRITHY\s|\sTHRID\s|\sTHIRD\s|\sTIRD\s|\sTRIH\s|\sTHREE\s") 
    x = re.sub(pattern, "3", x)    
    pattern = re.compile(r"\sFORTY\s|\sFORTH\s|\sFOURTHY\s|\sFOURT\s|\sFRTY\s|\sFROTH\s|\sFROUTH\s|\sFOUR\s") 
    x = re.sub(pattern, "4", x)
    pattern = re.compile(r"\sFIFTY\s|\sFIFTHE\s|\sFIFTHY\s|\sFIFTH\s|\sFIFTEY\s|\sFIFT\s|\sFITY\s|\sFIFETH\s|\sFIFFTH\s|\sFIVE\s") 
    x = re.sub(pattern, "5", x)
    pattern = re.compile(r"\sSIXTY\s|\sSXTY\s|\sSIXY\s|\sSIXTHY\s|\sSIXTEY\s|\sSIXTH\s|\sSXTH\s|\sSITH\s|\sSIHXT\s|\sSIX\s") 
    x = re.sub(pattern, "6", x)
    pattern = re.compile(r"\sSEVENTEY\s|\sSVENTY\s|\sSEVENTI\s|\sSEVENTH\s|\sSEVENTY\s|\sSVEN\s|\sSVENTH\s|\sSEVENH\s|\sSEVENT\s|\sSEVEN\s") 
    x = re.sub(pattern, "7", x) 
    pattern = re.compile(r"\sEIGHTY\s|\sEIGHTEH\s|\sEIGHTEY\s|\sEIGHTE\s|\sEIGHTH\s|\sEITH\s|\sEIGHT\s|\sEIGHTTH\s|\sEIGTH\s|\sFIGHT\s") 
    x = re.sub(pattern, "8", x)       
    pattern = re.compile(r"\sUNITY\s|\sNINETY\s|\sNINETEY\s|\sNINETIETH\s|\sNINTH\s|\sNINTY\s") 
    x = re.sub(pattern, "9", x) 
    pattern = re.compile(r"\sTENTH\s") 
    x = re.sub(pattern, "10", x)     
    
    return x
    
df['street_number_name_clean'] = df['Street address 2'].apply(lambda x : street_number_name(x)) 
df['street_number_name'] = df['street_number_name_clean'].str.extract('(\d+)')

In [19]:
print(df['street_number_name'])
print(df['street_number_name'].unique())

0        38
1       107
2        81
3       117
4        62
       ...
1995    158
1996     78
1997      8
1998    NaN
1999    609
Name: street_number_name, Length: 2000, dtype: object
['38' '107' '81' '117' '62' '90' nan '8' '13' '190' '78' '50' '26' '61'
 '32' '145' '5' '84' '43' '134' '101' '21' '17' '1' '3' '2' '112' '9'
 '115' '113' '125' '76' '66' '39' '142' '144' '59' '116' '123' '68' '56'
 '97' '104' '94' '135' '140' '119' '89' '7' '40' '111' '74' '136' '110'
 '31' '99' '46' '49' '16' '153' '127' '118' '60' '121' '106' '22' '129'
 '87' '102' '152' '64' '69' '109' '131' '6' '96' '179' '83' '141' '85'
 '171' '52' '164' '146' '10' '15' '18' '82' '86' '55' '37' '120' '29' '27'
 '57' '47' '137' '139' '199' '114' '67' '71' '147' '178' '105' '108' '93'
 '98' '51' '185' '184' '100' '72' '159' '103' '79' '14' '88' '126' '11'
 '12' '34' '73' '170' '151' '70' '77' '44' '25' '58' '23' '35' '30' '80'
 '19' '33' '48' '92' '143' '122' '24' '42' '158' '36' '4' '150' '91' '20'
 '149' '132' '138' '176' '128' '53' '45' '41' '124' '2205' '148' '156'
 '161' '173' '163' '95' '182' '28' '180' '213' '63' '75' '133' '1931'
 '130' '1729' '160' '155' '329' '166' '65' '175' '181' '165' '609']

In [27]:
# new_df = df[['street_direction_clean', 'street_name_clean', 'street_number_name', 'street_type_clean']]
# new_df['street_new'] = new_df[new_df.columns[0:]].apply(lambda x: ''.join(x.dropna().astype(str)), axis=1)
# new_df['street_new'].unique()

In [38]:
df['irregular'] = df['street_direction_clean'].fillna('') + df['street_name_clean'].fillna('') + df['street_number_name'].fillna('') + ' ' + df['street_type_clean'].fillna('')
df['irregular'].unique()

array(['38 ST', 'E 107 ST', '81 ST', 'E 117 ST', 'W 62 ST', 'W 90 ST',
       ' ', 'E 8 ST', '13 ST', '190 ST', 'W 78 ST', 'CHERRY ST',
       ' W  AVE', 'E 50 ST', 'W 26 ST', 'W 61 ST', ' ST', ' AVE',
       'E 32 ST', 'W 145 ', 'W 117 ST', 'E 5 ST', '84 ST', 'W 43 ST',
       'W 134 ST', '101 ', '21 ', 'W 5 ST', '17 ST', 'E HOUSTON ST',
       'AUDUBON AVE', '1 ST', '3 ', '2 ST', '112 ST', 'E 9 ST',
       'E 115 ST', 'W 113 ST', '125 ', 'E 76 ST', 'E  AVE',
       'W HOUSTON ST', 'MULBERRY ST', 'E 66 ST', 'W 39 ST', 'W 38 ST',
       'W 142 ST', 'W 144 ST', '59 ST', 'W 116 ST', 'E 123 ST', 'E 68 ST',
       'E 125 ST', 'E 56 ST', 'E 97 ST', 'E 90 ST', 'E 104 ST', 'W 94 ST',
       'W 135 ST', 'W 140 ST', '134 ST', 'E 119 ST', 'W 89 ST', '7 AVE',
       'E 40 ST', 'RIDGE ST', 'S  ST', 'W 111 ST', 'E 74 ST',
       'GREENWICH ST', '136 ST', '110 ST', ' PL', 'E 101 ST', 'E 31 ST',
       'E 99 ST', 'W 46 ST', 'W 49 ST', '5 ST', ' W 99 CIR', 'E  ST',
       'E 16 ST', '153 ST', 'E 127 ST', 'W 112 ST', 'W 3 ST', 'E 118 ST',
       'E 60 ST', 'E 13 ST', 'E 121 ST', 'E 106 ST', '22 ST',
       'CLINTON ST', 'W 16 ST', 'E 81 ST', 'DELANCEY ST', 'LEXINGTON AVE',
       'E 129 ST', '1 AVE', 'E 87 ST', 'W 118 ST', '107 ST', '26 ST',
       'THOMPSON ST', 'E 102 ST', 'W 152 ST', 'E 64 ST', '123 ST',
       'E 78 ST', 'E 69 ST', '109 ST', 'W 131 ST', 'E 6 ST', 'W 96 ST',
       'FORSYTH ST', 'W 179 ST', 'E 83 ST', '9 AVE', 'E 3 ST', '61 ST',
       'W 129 ST', 'E 110 ST', '7 ALY', 'BROADWAY ', 'W 141 ST',
       'E 85 ST', '116 ST', 'OAK ST', 'W 171 ST', 'W 115 ST', 'W 52 ST',
       'W 164 ST', 'W 22 ST', 'WASHINGTON ', 'HENRY ST', '146 ST',
       '10 AVE', 'W 76 ST', 'W 101 ST', '8 ST', '52 ST', 'W 15 ST',
       'E 10 ST', '115 ST', ' E 18 ST', 'E 82 ST', 'E 109 ST', 'E 111 ST',
       'E 26 ST', 'E 1 ', 'W 10 ST', 'W 9 ST', 'E 86 ST', 'GRAND ST',
       'E 112 ST', '17 ', ' PARK', '134 ', '55 ST', 'W 37 ST', '127 ',
       'W 120 ST', '120 ST', '29 ST', '27 ST', 'W 57 ST', 'W 47 ST',
       'W 137 ST', 'BROOME ST', '139 ST', 'W HOUSTON ', 'W 83 ST',
       'E 199 ST', 'E 114 ST', 'W 67 ', 'E 117 ', 'W 87 ST', 'W 55 ST',
       'E 71 ST', 'W 49 ', 'E 89 ST', 'W 50 ST', '83 ST', 'W 147 ST',
       '16 ST', 'W 178 ST', 'E 105 ST', 'E 108 ST', 'W  ', '3 ST',
       '93 ST', 'E 98 ST', '8 AVE', 'NORFOLK ST', '51 ST', 'W 185 ST',
       'W 106 ST', 'W 184 ST', '100 ', 'SIDE ', 'W 59 ST', 'W 105 ST',
       '145 ST', 'E 72 ', 'W 159 ST', '96 ST', ' E WASHINGTON2 ',
       'W 103 ST', 'E 79 ST', 'LEXINGTON68 ', 'W SIDE BROADWAY131 ',
       'W 14 ST', 'W 121 ST', 'CHRYSTIE ST', 'W 1 ST', '88 ', 'ALLEN ST',
       '126 ', 'S   W SIDE8 ST', '10 ', '119 ST', 'E HOUSTON ',
       'W 127 ST', '11 ST', '12 ST', '34 ', 'E 73 ST', '49 ST', 'E 67 ST',
       'W 170 ST', 'W 151 ST', 'CANNON ST', 'GOERCK ST', '137 ST',
       'W 70 ST', ' ALY', 'W 77 ST', 'W 29 ST', 'E 2 ST', 'W 44 ST',
       '77 ST', 'W 123 ST', 'E 70 ST', 'W BROADWAY ', 'E 7 ', '126 ST',
       '25 ', 'SULLIVAN ', 'W 114 ', 'E 12 ST', '108 ST', 'E 58 ST',
       '60 ST', 'E 23 ST', 'E 35 ST', 'W 11 ST', '111 ST',
       'LEXINGTON SIDE ', 'W 30 ST', 'E 80 ST', '135 ST', 'E 52 ST',
       'E 72 ST', 'E 112 ', 'E 19 ST', 'W 58 ST', '118 ST', 'W 146 ST',
       '3 AVE', 'PLACE ', '33 ', 'E 48 ST', 'SULLIVAN ST', 'W 85 ST',
       '92 ST', 'E BROADWAY ', 'W 143 ', 'E 29 ST', 'STUYVESANT ST',
       'W 27 ST', 'W 135 ', 'E 89 ', 'E 118 ', 'CANAL ST', '2 AVE',
       'RIVINGTON ST', '33 ST', 'W 122 ', 'E 96 ST', 'W 136 ST',
       'W 35 ST', 'W 51 ', 'E 39 ST', 'W 60 ', 'E 24 ST', 'E 42 ST',
       'W 158 ST', '121 ST', 'E 84 ST', '158 ST', 'E 93 ST', '31 ST',
       'W 36 ST', '4 ST', '39 ST', 'W 150 ST', 'E 57 ST', 'W 68 ST',
       '91 ST', 'ORCHARD ST', 'W 20 ST', 'W 40 ST', 'W 93 ST', 'W 149 ST',
       'E 34 ST', 'MANGIN ', 'W 132 ST', 'W 138 ST', 'E 18 ST',
       'HOUSTON ST', ' W 11 ', 'ELDRIDGE ST', 'W 59 ', 'E 33 ',
       'W 176 ST', 'W 21 ST', '48 ST', 'W 143 ST', 'E 14 ST', 'E 100 ST',
       '80 ', ' SQ', 'SIDE AVE', 'E 94 ST', 'E 8 ', '119 ', '47 ST',
       'W 1 ', 'W 128 ST', '152 ST', '100 AVE', 'E 21 ST', 'W  AVE',
       ' LN', 'W 42 ST', '18 ', 'W 86 ST', '18 ST', '43 ST', 'S  ',
       'OLIVER ST', 'W 72 ST', 'W 4 ST', 'W 107 ST', '53 ST', 'E 17 ST',
       'W 19 ST', 'E 77 ST', 'W 45 ST', 'S  AVE', 'ORCHARD ', '82 ST',
       '41 ', 'W  ST', 'E 7 ST', ' E 13 ', 'W 23 ST', 'E 33 ST',
       'W 17 ST', '6 ST', 'E 116 ST', '69 ST', 'W 124 ST', '62 ST',
       '2205 ', 'W 79 ST', 'W 148 ST', '3 ALY', '102 ST', 'W 24 ST',
       'W 69 ST', 'W 80 ST', 'E 43 ', 'W 109 ST', 'E 11 ST', 'MCDOUGAL ',
       'W 6 ST', 'W 81 ST', 'W 139 ST', ' W 62 ST', 'E 53 ST', 'W 51 ST',
       '116 ', 'E 43 ST', 'E 4 ST', 'S 3 ST', 'W 156 ST', '45 ST',
       '21 ST', '5 AVE', '117 ST', 'W 31 ST', 'E 15 ST', 'E 103 ST',
       '51 ', 'W 161 ST', 'LAFAYETTE ST', 'W 18 ST', 'W 173 ST', '99 ST',
       'W 163 ST', 'E 124 ST', 'E 95 ST', 'W 12 ST', '182 ', 'E 59 ST',
       'SIDE DR', 'W 48 ST', 'E 25 ST', 'BROADWAY138 ST', 'E 28 ST',
       'W 7 ST', 'WASHINGTON180 AVE', 'HOUSTON ', 'W 44 ', 'W 100 ST',
       'W FORSYTH ST', '6 AVE', 'W 213 ST', '63 ST', 'W 67 ST',
       'LAWRENCE ST', '113 ST', 'W 8 ST', '75 ', 'W 60 ST', 'E 117 AVE',
       'W 98 ST', 'W 88 ST', 'W 133 ST', 'W 98 ', 'W 35 ', '132 ',
       'CANAL ', '104 ST', 'E 126 ST', 'BROADWAY42 ', 'E 127 ', 'W 84 ST',
       '45 ', 'W   N SIDE125 ', 'E 27 ST', 'W 153 ST', 'W 103 ', '179 ',
       'E 1 ST', 'W 109 ', 'BROADWAY1931 ', '7 ST', 'W 2 ST', 'W 82 ST',
       'E 120 ST', 'OAK ', 'W 66 ST', 'E 92 ST', 'E 44 ST', 'E 81 ',
       '100 ST', 'W 138 ', 'S   W 63 ST', '41 ST', '108 ', 'W 110 ST',
       'W 125 ST', 'W 101 ', 'W 119 ', 'E 61 ST', '130 ', '1729 AVE',
       'W 160 ST', 'W 155 ST', '18 AVE', 'E 75 ST', '122 ST', 'E 41 ST',
       '44 ', '1 ', 'RIVERSIDE DR', 'E   E 16 ST', 'E 88 ST', 'W 19 AVE',
       ' E 329 ST', 'W 63 ST', '94 ', 'W 74 ST', 'E 55 ST', 'E 62 ST',
       '78 ', 'E SIDE ', ' TER', '166 ST', 'E 65 ST', 'E 113 ST', '46 ST',
       ' E   E 26 ', '115 ', 'W 175 ST', 'W 5 ', '76 AVE',
       'WASHINGTON ST', '99 ', 'W 181 ST', '37 ST', 'W SIDE130 ', '42 ST',
       'W 113 ', 'W 64 ST', 'E 131 ST', 'W 165 ST', '114 ST', '19 ST',
       'W 136 ', 'W 118 ', '88 ST', 'W 56 ST', '11 AVE', 'W 41 ST',
       ' E 609 ST'], dtype=object)

In [32]:
df['new_address_2']

0            38 ST
1        E  107 ST
2            81 ST
3        E  117 ST
4         W  62 ST
           ...
1995     W  158 ST
1996      E  78 ST
1997         8 AVE
1998           NaN
1999     E  609 ST
Name: new_address_2, Length: 2000, dtype: object

In [21]:
def seperate_column(df, column):
    pattern_street_type = r'(?<=\s)ST$|(?<=\s)DR$|(?<=\s)CIR$|(?<=\s)AVE$|(?<=\s)CT$|(?<=\s)BLVD$|(?<=\s)ALY$|(?<=\s)PLZ$|(?<=\s)PARK$|(?<=\s)PKWY$|(?<=\s)APPROACH$|(?<=\s)TER$|(?<=\s)PL$|(?<=\s)LN$|(?<=\s)BRG$|(?<=\s)HL$|(?<=\s)HTS$|(?<=\s)SLIP$|(?<=\s)ROW$|(?<=\s)SQ$'
      
    df[column] = df[column].apply(lambda x : street_type(x))
#     df['direction'] = df[column].apply(lambda x: ' '.join(re.findall(pattern['direction'], x)))
#     df['end'] = df[column].apply(lambda x: ' '.join(re.findall(pattern['end'], x)))
    df['street_type_clean'] = df[column].apply(lambda x: ' '.join(re.findall(pattern_street_type, x)))
#     df['street_number'] = df[column].str.extract('(\d+)')
#     df['street_word_number'] = df[column].apply(lambda x: ' '.join(re.findall(pattern['word_number'], x)))
#     df['street_name'] = df[column].apply(lambda x: ' '.join(re.findall(pattern['street_name'], x)))
    
    return df

In [23]:
seperate_column(df, 'Street address 2')

,Record type,Standardized township (string),County 2,Enumeration district 2,Consistent historical data person identifier,Dwelling sequence number,Dwelling serial number,Dwelling serial number 2,Household sequence within dwelling,"Household sequence within dwelling, 8 digit",...,Number of families in household,"Number of person records in household, before large group quarters were split up (100% datasets)",House number,Street address 2,street_direction_clean,street_type_clean,street_name_clean,street_number_name_raw,street_number_name_clean,street_number_name
0,H,MANHATTAN,610,1256,NaN,NaN,60496,661,38,60496,...,2,7,NaN,38ST,,,,,38,38
1,H,MANHATTAN,610,339,NaN,NaN,1943060,21190,18,1943060,...,1,2,NaN,EAST 107THST,,,,,EAST 107ST,107
2,H,MANHATTAN,610,1043,NaN,NaN,477699,5196,50,477699,...,1,5,337,81STST,,,,,81ST,81
3,H,MANHATTAN,610,292,NaN,NaN,217548,2408,92,217548,...,2,4,NaN,EAST 117THST,,,,,EAST 117ST,117
4,H,MANHATTAN,610,1318,NaN,NaN,739265,8103,25,739265,...,1,1,NaN,WEST 62NDST,,,,,WEST 62ST,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,H,MANHATTAN,610,691,NaN,NaN,53635,585,9,53635,...,1,5,NaN,WEST 158ST,,,,,WEST 158,158
1996,H,MANHATTAN,610,1036,NaN,NaN,474555,5164,39,474555,...,1,3,NaN,E 78THST,E,,,,E 78ST,78
1997,H,MANHATTAN,610,1202,NaN,NaN,511291,5578,53,511291,...,1,2,NaN,8THAVE,,,,,8AVE,8
1998,H,MANHATTAN,610,425,NaN,NaN,439107,4767,16,439107,...,1,4,NaN,LEXINGTONAVE,,,LEXINGTON,,LEXINGTONAVE,NaN
1999,H,MANHATTAN,610,939,NaN,NaN,1338784,14582,8,1338784,...,1,5,NaN,609 E 14THST,E,,,,609 E 14ST,609

In [5]:
pattern = {
    'direction' : r'WEST|EAST|NORTH|SOUTH|\sW\s|\sE\s|\sN\s|\sS\s',
    'end' : r'\sSTREET$|\bSTREET$|\sSTR$|\sSTE$|\sSRT$|\sSR$\s|SRT$|\sSST$|\sSEET$|\sTREET$|\sSHEER$|\sSHEE$|\sSTREE$|\sSREET$|\sREET$|\sSTEE$|\sST$',
    'street_type': r'\sDRIVE$|\sDR$|\sDV$|\sDE$|\sDRV$|\sDRI$|\sDRIV$|\sDRIE$|\sCIRCLE|\sCIR|\sCRL|\sCIRC|\sCR|\sCL|\sCIRCL|\sCICLE|(?<=\s)COURT|CT|CRT|CRT|CTR|(?<=\s)COUR|(?<=\s)COT|(?<=\s)CORT|\sBOULEVARD|\sBVLD|\sBV|\sBLD$|\sBD|\sBL$|\sBLV$|\sROAD|\sRD|\sRAD|\sROD|\sALLEY|\sALY|\sAL|\sALLY|\sALEY|\sALLE|\sAY|\sPLACE|\sPL|\sPLC|\sPLE|\sPC|\sPLAC|\sPLCE|\sPCE|\sPK|\sPRK|\sPRAK|\sPAK|\sPARKWAY|\sPKWY|\sPARKW|\sPWY|\sPKW|\sPRKWY|\sPKWY|\sPKW|\sAPPR|\sAPR|\sAPPROA|\sAPRCH|\sAPPRCH|\sTERRACE|\sTER|\sTERR|\sTRC|\sTRCE|\sTR|\sPLAZA|\sPLZ|\sPLAZ|\sPZ|\sPLZA|\sLANE|\sLN|\sLNE|\sLAN|\sHILL|\sHL|\sHLL|\sHIL|\sHEIGHTS|\sHTS|\sHT|\sHEIGHT|\sHEGHTS|\sHHT|\sHEIGT|\sSLP|\sSLEP|\sSLIIP|\sSLI|\sRON|\sRW|\sROE|\sROOW|\sSQUARE',
#     'number': r'FRIST|FRST|FIRST|ONE|ONE HUNDRED|ONEHUNDRED|HUNDRED|HUDRED|HUNDED|TWO HUNDRED|TWOHUNDRED|TWENTY|TWENTI|TENTI|SECOND|SECORD|SCOND|TWO|THIRTY|THIRTHY|THIRTEY|TIRTY|TRITHY|THRID|THIRD|TIRD|TRIH|THREE|FORTY|FORTH|FOURTHY|FOURT|FRTY|FROTH|FROUTH|FOUR|FIFTY|FIFTHE|FIFTHY|FIFTH|FIFTEY|FIFT|FITY|FIFETH|FIFFTH|FIVE|SIXTY|SXTY|SIXY|SIXTHY|SIXTEY|SIXTH|SXTH|SITH|SIHXT|SIX|SEVENT|SEVENTY|SEVENTEY|SVENTY|SEVENTI|SEVENTH|SVEN|SVENTH|SEVENH|SEVEN|EIGHTY|EIGHTEY|EIGHTE|EIGHTH|EIGHTEH|EITH|EIGHT|EIGHTTH|EIGTH|FIGHT|UNITY|NINTH|NINETY|NINETEY|NINETIETH|NINTY|TENTH|ELEVENTH|TWELFTH|THIRTEENTH|FORTEENTH|FIFTEENTH|SIXTEENTH|SEVENTEENTH|EIGHTEENTH|NINETEENTH|TWENTIETH|TWENTIEFTH|THIRTIETH|THIRTIEFTH|FORTIETH|FOURTIETH|FOURTHENTH|FIFTIETH|SIXTIETH|SEVENTIETH|SEVENTY|EIGHTIETH|EIGHTETH|NINETIETH|NINTIETH',
    'number': r'FRIST|FRST|FIRST|ONE|ONE HUNDRED|ONEHUNDRED|HUNDRED|HUDRED|HUNDED|TWO HUNDRED|TWOHUNDRED|TWENTY|TWENTI|TENTI|SECOND|SECORD|SCOND|TWO|THIRTY|THIRTHY|THIRTEY|TIRTY|TRITHY|THRID|THIRD|TIRD|TRIH|THREE|FORTIETH|FOURTIETH|FORTEENTH|FOURTHENTH|FORTY|FORTH|FOURTHY|FOURT|FRTY|FROTH|FROUTH|FOUR|FIFTIETH|FIFTEENTH|FIFTY|FIFTHE|FIFTHY|FIFTH|FIFTEY|FIFT|FITY|FIFETH|FIFFTH|FIVE|SIXTIETH|SIXTEENTH|SIXTY|SXTY|SIXY|SIXTHY|SIXTEY|SIXTH|SXTH|SITH|SIHXT|SIX|SEVENTIETH|SEVENTY|SEVENTEENTH|SEVENTY|SEVENTEY|SVENTY|SEVENTI|SEVENTH|SVEN|SVENTH|SEVENH|SEVENT|SEVEN|EIGHTIETH|EIGHTETH|EIGHTEENTH|EIGHTY|EIGHTEH|EIGHTEY|EIGHTE|EIGHTH|EITH|EIGHT|EIGHTTH|EIGTH|FIGHT|UNITY|NINETIETH|NINTIETH|NINETEENTH|NINETY|NINETEY|NINETIETH|NINTH|NINTY|TENTH|ELEVENTH|TWELFTH|THIRTEENTH|TWENTIETH|TWENTIEFTH|THIRTIETH|THIRTIEFTH',
    'street_name': r'ALLANTIC|ATLASTA|ALLEM|ALLEN|CROTON|GROTON|AT RINS|BATTIE|BARREE|BESSHLEY|BIRY|B WAY|BWAY|BRAKSWAY|BUSTWICK|BUTTER|BREEVORT|BRENNEL|BROOMES|BROOM|BRANNAS|BROWN|BLACKER|BLENKER|CLAIR|CLISTEN|CHERY|CHRYSTEE|CHRYSTAL|CHTYSTIE|CHRYSTEL|CARRAL|COYAL|COLUMBIN|CAMNON|CROWH|DEVAL|DEBOUCHEL|DAFONT|DEGRAN|DENBO|DEKALB|DELAMERE|DALANEY|DELANEY|DELANCY|ELTHZROTH|ELLSWICK|ELDREDGE|CLARIDGE|ESSEY|FORSYTHE|FLATHISH|GLANCE|GOAST|GREENS|GREENRICH|GAMWICH|HOUTON|HAVES|HAKEY|HEWEY|HICK|HUMBOLOT|HUMBARD|HUMBOLT|JOHOM|KIOP|HEAP|LAY FAY ESTE|LADORATT|LAFYAYETTE|LIRA|LOUMOR|LARMER|LAAVIUK|LAIDLOW|TEX|LEX|REPPERTS|PARLE|MALLE|MYETTE|MC DOUGALL|MC DOUGAL|MCDOUGALL|MC DONOUGH|MANZA|MAREY|MESCOLE|MEASE|MEDDLER|MANGEN|HAULL|MALLERY|NAPOLK|VAST AND|DAK|OLWEN|GERHARD|PUTT|PERROTT|PERROTT PREMPONT|PLAD|PRUFER|PREDIDUNT|PALOKA|RUTHIE|RIDAL|RAYSON|REVENTON|RUALMAINE|RICER SIDE|REDERICK|RENNICK|SELLTOWN|SISH|STUCKER|STATES|SCHAALS|SUMME|SCHOMERDOSA|DOUTH|SONSE|STUYVESTANT|STONPSON|TRAY|TAYLER|WMON|WAR CAREN|VEMON|VANDERLY|VANDERSLIDE|WYONIA|WITKINS|WALLWORTH|WHIPPER|WALLABANK|WALKABOUT|WASH|WASTEWATER'
}

In [6]:
df['number'] = df['Street address 2'].str.extract('(\d+)')

df['number']

0        38
1       107
2        81
3       117
4        62
       ...
1995    158
1996     78
1997      8
1998    NaN
1999    609
Name: number, Length: 2000, dtype: object

In [8]:
def search_direction(x):
    
    result = re.findall(pattern['direction'], x)
    return " ".join(result)

def search_end(x):
    result = re.findall(pattern['end'], x)
    return " ".join(result)

def search_street_type(x):
    result = re.findall(pattern['street_type'], x)
    return " ".join(result)

def search_word_number(x):
    result = re.findall(pattern['number'], x)
    return " ".join(result)

def search_street_name(x):
    result = re.findall(pattern['street_name'], x)
    return " ".join(result)

df['direction'] = df['Street address 2'].apply(lambda x : search_direction(x))
df['end'] = df['Street address 2'].apply(lambda x : search_end(x))
df['street_type'] = df['Street address 2'].apply(lambda x : search_street_type(x))
df['word_number'] = df['Street address 2'].apply(lambda x : search_word_number(x))
df['street_name'] = df['Street address 2'].apply(lambda x : search_street_name(x))

In [9]:
# m = 'WEST SIXTY FIFTH FORTH ST'

# pattern = r'FRIST|FRST|FIRST|ONE|ONE HUNDRED|ONEHUNDRED|HUNDRED|HUDRED|HUNDED|TWO HUNDRED|TWOHUNDRED|TWENTY|TWENTI|TENTI|SECOND|SECORD|SCOND|TWO|THIRTY|THIRTHY|THIRTEY|TIRTY|TRITHY|THRID|THIRD|TIRD|TRIH|THREE|FORTY|FORTH|FOURTHY|FOURT|FRTY|FROTH|FROUTH|FOUR|FIFTY|FIFTHE|FIFTHY|FIFTH|FIFTEY|FIFT|FITY|FIFETH|FIFFTH|FIVE|SIXTY|SXTY|SIXY|SIXTHY|SIXTEY|SIXTH|SXTH|SITH|SIHXT|SIX|SEVENT|SEVENTY|SEVENTEY|SVENTY|SEVENTI|SEVENTH|SVEN|SVENTH|SEVENH|SEVEN|EIGHTY|EIGHTEY|EIGHTE|EIGHTH|EIGHTEH|EITH|EIGHT|EIGHTTH|EIGTH|FIGHT|UNITY|NINTH|NINETY|NINETEY|NINETIETH|NINTY|TENTH|ELEVENTH|TWELFTH|THIRTEENTH|FORTEENTH|FIFTEENTH|SIXTEENTH|SEVENTEENTH|EIGHTEENTH|NINETEENTH|TWENTIETH|TWENTIEFTH|THIRTIETH|THIRTIEFTH|FORTIETH|FOURTIETH|FOURTHENTH|FIFTIETH|SIXTIETH|SEVENTIETH|SEVENTY|EIGHTIETH|EIGHTETH|NINETIETH|NINTIETH'
# # pattern = r'SIXTY|FIFTH|SEVENTH|FORT|FOURTHY'
# a = re.findall(pattern, m)
# a

regular expression in R:   
- https://rstudio-pubs-static.s3.amazonaws.com/74603_76cd14d5983f47408fdf0b323550b846.html
- https://cran.r-project.org/web/packages/stringr/vignettes/regular-expressions.html
 
regular expression in Python:  
- https://www.bogotobogo.com/python/python_regularExpressions.php#:~:text=Well%2C%20%5CD%20matches%20any%20character,try%20to%20match%20different%20separators.
 
Quite useful regular expression extract web:  
- https://regex101.com/r/rzNgTL/1